# =========================
# Build folders
# =========================
bin/
obj/

# =========================
# User-specific files
# =========================
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# VS / Rider / VSCode
# =========================
.vs/
.idea/
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment variables
# =========================
.env

# =========================
# Test results
# =========================
TestResults/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# NuGet
# =========================
*.nupkg
packages/

# =========================
# Selenium / temp
# =========================
*.tmp
*.cache

# =========================
# Coverage
# =========================
coverage/